<div class="input-icons myContainer">
  <i class="fa fa-search icon" align="right"></i>
  <input style="font-size:20px" type="text" name="search" [(ngModel)]="search" placeholder="Buscar..."class="form-control myBar" autocomplete="off">
  <ul *ngIf="products">
  <li *ngFor="let product of products | filter: search">
    
    <button align="right" class="btn myBtn" type="button" data-toggle="modal" data-target="#confirmModal"
    (click) = "addToCart([product.precio_compra, product.descuento, product.impuesto])">Añadir al carrito</button>
    <div><img class="size" [src]="product.imagen" id="image"/>
      <p>{{product.nombre}}</p>
      <p>Descripción: {{product.descripcion}}</p>
      <p>Precio: {{ product.precio_compra }}$ {{ product.impuesto}} i.v.</p>
      <p>Descuento: {{ product.descuento }}</p>
      </div>
  </li>
  </ul>
</div>

<button align="right" class="btn myBtn" type="button" (click) = "calcPurchaseTotal()">Comprar</button>

<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog myModal" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">¡Agregado al carrito!</h5>
        </div>
        <div class="modal-footer mb-3">
          <button aria-hidden="true" type="button" class="btn myBtn" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

