ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

li {
    background: rgb(238, 238, 238);
    padding: 1em;
    margin-right: 10px;
    min-height: 240px;
    width: 20%;
    height: 15%;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    float: left;
}

p {
    padding-top: 8px;
    margin: 1px;
    font-size: .8rem;
    flex-grow: 1;
}

p.name {
    font-weight: bold;
    font-size: 1.2rem;
}

.size
{
    margin-left:0.3em;
    width:8em;
    height:8em;
    
    flex-grow: 1;
    }

#image  {
    float: right;    
    margin: 0 0 0 15px;
    flex-grow: 1;
    }
.myBtn{
    background-color: #B8D3D9;
    border: 1px solid #B8D3D9;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.myBtn:hover {
    background-color: #D2B9C4;
    color: rgb(0, 0, 0);
}

.editBtn{
    color: #FFFFFF;
    background-color: #3B565B;
    border: 1px solid #B8D3D9;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.editBtn:hover {
    background-color: #D2B9C4;
    color: rgb(0, 0, 0);
}

.deleteBtn{
    color: #FFFFFF;
    background-color: #931621;
    border: 1px solid #B8D3D9;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.deleteBtn:hover {
    background-color: #D2B9C4;
    color: rgb(0, 0, 0);
}