<div class="container">

  <form role="form" class="form form-horizontal"  #form="ngForm" ngNativeValidate>
    <div class="form-group row">
      <div class="col-xl-4 col-lg-6 col-md-12">
        <h1>Seleccione el reporte que desea generar</h1>
        <div *ngIf="emptyField" style="color:red" >Por favor seleccione el tipo de reporte.</div>
        <fieldset class="form-group">
          <select class="custom-select d-block w-100" id="category" [(ngModel)]="category" (change)="selected()" name="category" required placeholder="d.ff">
            <option hidden value="" disabled selected>Seleccione una categoría:</option>
            <option *ngFor="let item of data" [value]="item.id">{{item.name}}</option>
          </select>
        </fieldset>
      </div>
    </div>
  </form>



  <div>

    <!-- Calendario de fecha final -->
        <h1>Seleccione fecha inicial y final de intervalo</h1>
    <mat-form-field class="example-full-width myMat">
      <mat-label>Fecha final</mat-label>
      <input matInput [matDatepicker]="picker1" [(ngModel)]="endDateInput">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1 [startAt]="finalDate"></mat-datepicker>
    </mat-form-field>
    
    <!-- Calendario de fecha inicial -->
    <mat-form-field class="example-full-width myMat">
      <mat-label>Fecha de inicio</mat-label>
      <input matInput [matDatepicker]="picker2" [(ngModel)]="startDateInput">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2 [startAt]="startDate"></mat-datepicker>
    </mat-form-field>  
  
  </div>



  <button class="btn myBtn" (click)="generateReport()">Decargar reporte</button>
</div>



