<h1>Productos</h1>

<ul *ngIf="products">
  <li *ngFor="let product of products">
    <p class="name">{{ product.nombre }}</p>
    <p class="descripcion">{{ product.descripcion }}</p>
    <p class="codigo_barras">{{ product.codigo_barras}}</p>
    <p class="vendedor">{{ product.vendedor }}</p>
    <p class="precio_compra">{{ product.precio_compra }}</p>
    <p class="impuesto">{{ product.impuesto}}</p>
    <p class="descuento">{{ product.descuento }}</p>
  </li>
</ul>

<div>
  <input type="text" [(ngModel)]="term">
  
  <div *ngFor="let item of dataParent">
    <div *ngFor = "let attribute of objectValues(item) |filter:term">{{attribute}}</div>
  </div>

</div>  